<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Checking authorization state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <PageTitle>Access denied</PageTitle>
                    <LayoutView>
                        <div class="container d-flex flex-column justify-content-center align-items-center ">
                            <p class="text-center mt-5 " role="alert">Sorry, you're not authorized to access this page.
                            </p>
                            <NavLink href="/" class="btn btn-primary mt-5">Go to Homepage</NavLink>

                        </div>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>